
.deedsign-type-controls{
    max-width: 1300px;
    margin: auto;
    width: 100%;
}
.deedsign-type-controls-inner{
    display: block;
}
.signature {
    font-size: 18px;
    margin-bottom: 10px;
}

.signature-item{
    border: 1px solid #0000001A;
    background-color: white;
    padding:50px 32px 32px 32px !important;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.signature-title {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #1B1E23;
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    font-family: Inter, sans-serif;
    margin-bottom: 32px;

}
.signature-description{
    display: block;
}

.download-btn{
    padding: 14px 0;
    color: #fff;
    border: 1.5px solid #2F6FED;
    font-weight: 600;
    background-color: #2F6FED;
    font-size: 18px;
    line-height: 20px;
    font-family: Inter, sans-serif;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 100% !important;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;
    margin-top: 32px;
}
.download-btn:hover{
    transition: all .2s ease-in;
    opacity: .8;
}
#signatureList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    
}

#signatureList.visible {
  margin-top: 100px;
}

#signatureList{
  margin-top: 0;
}


.input-container {
    display: flex;
    align-items: center;
    max-width: 681px;
    margin: auto;
    width: 100%;
}
.input-container input[type="text"] {
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    height: 80px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 100%;
    padding: 0 24px;
    transition: all .1s ease-in;
    font-family: Inter, sans-serif;
    font-size: 18px;
    color: #232323;
    font-weight: 400;
    line-height: 20px;
}
.input-container input[type="text"]:focus {
    outline: none;
    border: 1px solid #2F6FED;
    transition: all .1s ease-in;
}
#fontType {
    width: 180px;
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    height: 82px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0 24px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #1B1E23;
    font-weight: 800;
    line-height: 24px;
    z-index: 0;
}
#fontType:focus {
    outline: none;
}

.input-container {
    position: relative;
}

.input-container select {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 4px 50px 4px 20px !important;
    background: transparent;
    z-index: 100;
    position: relative;
}

.input-container::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free"; /* Correct font family */
    font-weight: 900; /* Specify font weight */
    font-size: 16px; /* Specify font size */
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #000000;
}

@media screen and (max-width: 1100px) {
    #signatureList {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}
@media screen and (max-width: 768px) {
    #signatureList {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
@media screen and (max-width: 480px) {
    #signatureList {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

  #controls input[type="color"], #controls input[type="range"], #controls button {
    margin-right: 16px;
  }
  .controls-inner{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    margin-top:60px;
    flex-wrap:wrap;
  }
  .signature-clear-btn-wrapper{
    display: flex;
    margin-top: 80px;
    justify-content: center;
  }
  
  #clearBtn{
    color: #2F6FED;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: Inter, sans-serif;
    cursor:pointer;
  }
 
  .color-picker-title{
    font-size: 36px;
    color: #1B1E23;
    font-weight: 500;
    font-family: Inter, sans-serif;;
    line-height: 43.2px;
  }
  #colorPickerWrapper{
    border-radius: 999px;
    border: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:24px;
  }
  .hovered-paths {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
    cursor: pointer;
    touch-action: none; /* Prevent default touch behavior */
  }
  
  input[type="color"] {
    border: transparent;
    background-color: transparent;
    width: 40px;
    height: 42px;
    border-radius: 999px;
    outline: none;
    cursor: pointer;
  }
  
  
  #colorPicker::-webkit-color-swatch {
    border-radius: 999px;
  }
  
  
  
  
  
  /* Hide the default styling */
  input[type="range"] {
    width: 100%; /* Set the width of the range input */
    height: 15px; /* Set the height of the track */
    border: transparent;
  }
  
  #drawingArea {
    background-color: transparent;
  }
  #svgWrapper{
    margin-top: 48px;
    overflow: hidden;
    max-width: 100%;
  }
  
  #svgWrapper {
    width: 100%; /* Set the desired width */
    height: 520px; /* Set the desired height */
    border: 1px solid #E7E7E7; 
    background-color: #F8F8F8; 
    border-radius: 24px;
      /* Optional: Add border for visualization */
  }
  
  #drawingArea {
    width: 100%; /* Make SVG fill its container */
    height: 100%;
    touch-action:none !important; 
  }
  
  .color-picker-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    margin-top: 60px;
  }
  
  
  .deed-flex-row{
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .color-btn{
    min-width: 40px;
    min-height: 40px;
    border-radius: 999px;
    border: transparent;
    cursor: pointer;
  }


  
  
  
  @media screen and (max-width: 767px) {
    .color-picker-title {
      font-size: 16px;
      gap:12px 24px;
    }
    
    .color-btn {
      width: 30px;
      height: 30px;
     }
     
     #svgWrapper {
      height: 450px;
     }
  
    #colorPickerWrapper{
      margin-left:12px;
    }
    
    .deed-angle-flex-row{
        margin-top:12px;
    }
    
    #controls input[type="color"], #controls input[type="range"], #controls button {
       margin-right: 10px;
    }
    
    .signature-clear-btn-wrapper{
      margin-top: 32px;
    }
    
    .controls-inner{
      margin-top:32px;
    }
    
 
  }
  
  @media screen and (max-width: 575px) {
    .color-btn{
        min-width: 30px;
        min-height: 30px;
      }

      .color-picker-wrapper{
        gap: 0 10px;
      }

      #clearBtn{
        font-size: 13px;
      }

      .color-picker-title {
        font-size: 13px;
       }

       #fontType {
        font-size: 12px;
       }
       .input-container input[type="text"], #fontType{
        height: 45px;
       }
    
  }
  
  @media screen and (max-width: 450px) {
    .deed-flex-row {
      flex-wrap: wrap;
      width:100%;
      gap:0;
    }
  
      .signature-clear-btn-wrapper{
        display:block;
    }
    
    #clearBtn{
      width:100%;
    }
  }
  

